@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


@font-face {
  font-family: "stranger";
  src: url("./fonts/Benguiat Bold.ttf") format("truetype");
}

html,
body {
  overflow-x: hidden;
}

body {
  color: rgba(255, 255, 255, 0.9);
  background-color: #0c0102;
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "stranger", sans-serif;
}

.font-subtitle {
  font-family: "Poppins", sans-serif;
}

.font-title {
  font-family: "Nosifer", serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.gradient-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(12, 1, 2, 0) 70.74%, rgba(12, 1, 2, 0.8) 100%),
    radial-gradient(50% 50% at 50% 50%, rgba(12, 1, 2, 0) 0%, rgba(12, 1, 2, 0.4) 100%);
  inset: 0;
  z-index: 1;
}



